.custom_container {
  max-width: 1720px;
  position: relative;
  padding: 0 12px;
  margin: 0 auto;
  width: 100%;
}

.page_title_text {
  font-weight: 400;
  font-size: 38px;
  line-height: 100%;
  color: #ffffff;
  margin-bottom: 12px;
}

.page_info_text {
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  color: #ffffff;
  margin-bottom: 42px;
}

.card_sec_title {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #ffffff;
  margin-bottom: 20px;
}

.sub_designation_section {
  margin-bottom: 2rem;
}

// .sub_designation_title {
//   font-size: 16px;
//   color: #ffffff;
//   font-weight: 600;
//   margin: 1rem 0;
// }

.team_cards_name {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 4px;
  text-transform: capitalize;
  word-wrap: break-word;
}

.team_cards_title {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0px;
  padding: 0px 15px;
  text-transform: capitalize;
}

.no_data_text {
  font-size: 32px;
  font-weight: 500;
  color: #ffff; 
  text-align: center;
  margin-top: 250px;
}

.team_cards_img {
  width: 130px;
  height: 130px;
  margin-bottom: 4px;
  border-radius: 10px;
  object-fit: cover;
}

.team_cards {
  width: 130px;
  height: auto;
}

.team_cards_data_sec {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 28px;
}

.card_sec_main {
  margin-bottom: 40px;
}

.card_scroll_sec {
  height: calc(100vh - 350px);
  overflow-y: scroll;
}

.card_scroll_sec::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .custom_container {
    max-width: 500px;
  }

  .page_title_text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 6px;
    display: flex;
    flex-direction: column;
  }

  .page_info_text {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 32px;
  }

  .team_cards_data_sec {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
  }

  .team_cards_img {
    width: 81px;
    height: 81px;
    margin-bottom: 4px;
    border-radius: 10px;
  }

  .team_cards {
    width: 81px;
    height: auto;
  }

  .team_cards_name {
    font-weight: 400;
    font-size: 11px;
    line-height: 100%;
    text-align: center;
    color: #ffffff;
    margin-bottom: 4px;
    text-transform: capitalize;
  }

  .team_cards_title {
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 0px;
    padding: 0px 5px;
  }

  .card_sec_main {
    margin-bottom: 24px;
  }

  .card_sec_title {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    margin-bottom: 20px;
  }

  .sub_designation_section {
    margin-bottom: 2rem;
  }
  
  // .sub_designation_title {
  //   font-size: 12px;
  //   font-weight: 600;
  //   color: #ffffff;
  //   margin: 1rem 0;
  // }

  .card_scroll_sec {
    height: calc(100vh - 370px);
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 320px) and (max-width: 370px) {
  .card_scroll_sec {
    height: calc(100vh - 370px);
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 370px) and (max-width: 767px) {
  .card_scroll_sec {
    height: calc(100vh - 320px);
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .custom_container {
    max-width: 720px;
  }

  .page_title_text {
    font-size: 22px;
    margin-bottom: 6px;
  }
  .page_info_text {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .card_scroll_sec {
    height: calc(100vh - 275px);
    overflow-y: scroll;
  }
  .card_sec_main {
    margin-bottom: 25px;
  }
  .team_cards_img {
    width: 100px;
    height: 100px;
  }
  .team_cards {
    width: 100px;
  }
  .team_cards_name {
    font-size: 12px;
    line-height: 15px;
  }
  .team_cards_title {
    font-size: 13px;
    line-height: 16px;
    padding: 0px 5px;
  }
  .card_sec_title {
    font-size: 16px;
    margin-bottom: 12px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .custom_container {
    max-width: 900px;
  }

  .card_sec_main {
    margin-bottom: 25px;
  }

  .card_scroll_sec {
    height: calc(100vh - 265px);
    overflow-y: scroll;
  }
  .page_title_text {
    font-size: 24px;
    margin-bottom: 6px;
  }
  .page_info_text {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .team_cards_img {
    width: 100px;
    height: 100px;
  }
  .team_cards {
    width: 100px;
  }
  .team_cards_name {
    font-size: 12px;
    line-height: 15px;
  }
  .team_cards_title {
    font-size: 13px;
    line-height: 16px;
    padding: 0px 5px;
  }
  .card_sec_title {
    font-size: 16px;
    margin-bottom: 12px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .custom_container {
    max-width: 1100px;
  }

  .card_sec_main {
    margin-bottom: 25px;
  }

  .card_scroll_sec {
    height: calc(100vh - 270px);
    overflow-y: scroll;
  }
  .page_title_text {
    font-size: 28px;
    margin-bottom: 8px;
  }
  .page_info_text {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .team_cards_img {
    width: 115px;
    height: 115px;
  }
  .team_cards {
    width: 115px;
  }
  .team_cards_name {
    font-size: 12px;
    line-height: 15px;
  }
  .team_cards_title {
    font-size: 13px;
    line-height: 16px;
    padding: 0px 5px;
  }
  .card_sec_title {
    font-size: 17px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1660px) {
  .custom_container {
    max-width: 1400px;
  }
  .card_scroll_sec {
    height: calc(100vh - 300px);
    overflow-y: scroll;
  }
  .card_sec_main {
    margin-bottom: 30px;
  }
  .page_title_text {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .page_info_text {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .team_cards_img {
    width: 120px;
    height: 120px;
  }
  .team_cards {
    width: 120px;
  }
  .team_cards_name {
    font-size: 12px;
    line-height: 15px;
  }
  .team_cards_title {
    font-size: 13px;
    line-height: 16px;
    padding: 0px 5px;
  }
  .card_sec_title {
    font-size: 18px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 1661px) and (max-width: 1800px) {
  .custom_container {
    max-width: 1600px;
  }
}
