
$font-family-ProximaNova: "ProximaNova", sans-serif;
$primary-color: #969696;
$secondary-color: #EFEFEF;
$white-color: #FFFFFF;
$gray-color: #CACACA;
$gray-light-color: #DADADA;
$border-color: #777777;




// Jost Font Family  - https://fonts.google.com/specimen/Jost

// @font-face {
//   font-family: "Jost", sans-serif;
//   font-weight: 100;
//   font-display: swap;
//   font-style: normal;
//   src: url(../public/font-family/Jost/Jost-Thin.ttf) format("ttf");
// }
// @font-face {
//   font-family: "Jost", sans-serif;
//   font-weight: 100;
//   font-display: swap;
//   font-style: italic;
//   src: url(../public/font-family/Jost/Jost-ThinItalic.ttf) format("ttf");
// }
// @font-face {
//   font-family: "Jost", sans-serif;
//   font-weight: 100;
//   font-display: swap;
//   font-style: italic;
//   src: url(../public/font-family/Jost/Jost-Italic.ttf) format("ttf");
// }
// @font-face {
//   font-family: "Jost", sans-serif;
//   font-weight: 200;
//   font-display: swap;
//   font-style: normal;
//   src: url(../public/font-family/Jost/Jost-ExtraLight.ttf) format("ttf");
// }
// @font-face {
//   font-family: "Jost", sans-serif;
//   font-weight: 200;
//   font-display: swap;
//   font-style: italic;
//   src: url(../public/font-family/Jost/Jost-ExtraLightItalic.ttf) format("ttf");
// }
// @font-face {
//   font-family: "Jost", sans-serif;
//   font-weight: 300;
//   font-display: swap;
//   font-style: normal;
//   src: url(../public/font-family/Jost/Jost-Light.ttf) format("ttf");
// }
// @font-face {
//   font-family: "Jost", sans-serif;
//   font-weight: 300;
//   font-display: swap;
//   font-style: italic;
//   src: url(../public/font-family/Jost/Jost-LightItalic.ttf) format("ttf");
// }
// @font-face {
//   font-family: "Jost", sans-serif;
//   font-weight: 400;
//   font-display: swap;
//   font-style: normal;
//   src: url(../public/font-family/Jost/Jost-Regular.ttf) format("ttf");
// }
// @font-face {
//   font-family: "Jost", sans-serif;
//   font-weight: 500;
//   font-display: swap;
//   font-style: normal;
//   src: url(../public/font-family/Jost/Jost-Medium.ttf) format("ttf");
// }
// @font-face {
//   font-family: "Jost", sans-serif;
//   font-weight: 500;
//   font-display: swap;
//   font-style: italic;
//   src: url(../public/font-family/Jost/Jost-MediumItalic.ttf) format("ttf");
// }

// @font-face {
//   font-family: "Jost", sans-serif;
//   font-weight: 600;
//   font-display: swap;
//   font-style: normal;
//   src: url(../public/font-family/Jost/Jost-SemiBold.ttf) format("ttf");
// }
// @font-face {
//   font-family: "Jost", sans-serif;
//   font-weight: 600;
//   font-display: swap;
//   font-style: italic;
//   src: url(../public/font-family/Jost/Jost-SemiBoldItalic.ttf) format("ttf");
// }

// @font-face {
//   font-family: "Jost", sans-serif;
//   font-weight: 700;
//   font-display: swap;
//   font-style: normal;
//   src: url(../public/font-family/Jost/Jost-Bold.ttf) format("ttf");
// }
// @font-face {
//   font-family: "Jost", sans-serif;
//   font-weight: 700;
//   font-display: swap;
//   font-style: italic;
//   src: url(../public/font-family/Jost/Jost-BoldItalic.ttf) format("ttf");
// }
// @font-face {
//   font-family: "Jost", sans-serif;
//   font-weight: 800;
//   font-display: swap;
//   font-style: normal;
//   src: url(../public/font-family/Jost/Jost-ExtraBold.ttf) format("ttf");
// }
// @font-face {
//   font-family: "Jost", sans-serif;
//   font-weight: 800;
//   font-display: swap;
//   font-style: italic;
//   src: url(../public/font-family/Jost/Jost-ExtraBoldItalic.ttf) format("ttf");
// }

// @font-face {
//   font-family: "Jost", sans-serif;
//   font-weight: 900;
//   font-display: swap;
//   font-style: normal;
//   src: url(../public/font-family/Jost/Jost-Black.ttf) format("ttf");
// }
// @font-face {
//   font-family: "Jost", sans-serif;
//   font-weight: 900;
//   font-display: swap;
//   font-style: italic;
//   src: url(../public/font-family/Jost/Jost-BlackItalic.ttf) format("ttf");
// }
